@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --dark-blue: #122e4e;
  --blue: #4069b2;
  --lightBlue: #64cdf5;
  --turqoise: #14bbb8;
}

body {
  font-family: "Rubik", sans-serif !important;
}

/* Background Styles */
.darkBlueBg {
  background-color: var(--dark-blue);
}

.blueBg {
  background-color: var(--blue);
}

.lightBlueBg {
  background-color: var(--lightBlue);
}

.turqoiseBg {
  background-color: var(--turqoise);
}

.blueOpacityBg {
  background-color: rgba(64, 105, 178, 0.13);
}

/* END Background Styles */

/* Font Styles */
.darkBlueText {
  color: var(--dark-blue) !important;
}

.blueText {
  color: var(--blue);
}

.lightBlueText {
  color: var(--lightBlue);
}

.turqoiseText {
  color: var(--turqoise);
}

.whiteText {
  color: white;
}

/* END Font Styles */

/* Custom Global Styles */
.img-rounded {
  border-radius: 8px;
}

/* NavBar Toggle */
.navbar-toggler {
  color: var(--lightBlue);
}

/* Footer Styles */
footer a {
  text-decoration: none;
  color: white;
}
