.services {
  hr {
    border: 1px solid var(--blue);
    opacity: 1;
    width: 30%;
    margin: 0 auto;
  }
  .subhead {
    color: #94959b;
  }
  a {
    color: var(--dark-blue);
  }
}

.stepImg {
  div {
    border-radius: 1rem;
    width: 90%;
  }
  img {
    margin-left: 25px;
  }
}
