@use "../styles/variables" as *;

.portfolio {
  hr {
    border: 1px solid var(--blue);
    opacity: 1;
    width: 30%;
    margin: 0 auto;
  }
}

.finalSection {
  margin-block: 3rem;
  padding-block: 3rem;
}

.sectionHeading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.projectsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media (min-width: 992px) {
    gap: 24px;
  }
}

.projectCol {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;

  @media (min-width: $breakpoint-lg) {
    flex: 1 1 0;
    margin-top: 0;
  }
}

.projectCard {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 25px 0px #00000021;
  padding: 2rem 1.5rem;
  background-color: white;

  p:last-child {
    margin-bottom: 0;
  }
}

.tag {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--turqoise);
  margin-bottom: 0.5rem;
}
