@use "../styles/variables" as *;

.blogHero {
  background-color: rgba(100, 205, 245, 0.2);
  text-align: center;
  padding: 2rem 0;
}

.heroRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heroText {
  width: 100%;

  @media (min-width: $breakpoint-lg) {
    flex: 0 0 83.3333%;
    width: 83.3333%;
  }
}

.heroImage {
  width: 100%;

  @media (min-width: $breakpoint-lg) {
    flex: 0 0 50%;
    width: 50%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.contentRow {
  display: flex;
  justify-content: center;
}

.contentCol {
  width: 100%;

  @media (min-width: $breakpoint-lg) {
    flex: 0 0 66.6667%;
    width: 66.6667%;
  }
}

.blogContent {
  margin-top: 5rem;
  margin-bottom: 4rem;
  img {
    border-radius: 4px;
    margin: 2rem 0;
    width: 100%;
    height: auto;
  }
  h3 {
    margin-top: 32px;
  }
}
