.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: color-mix(in srgb, var(--lightBlue), white 60%);
  color: var(--dark-blue);
  outline: 1px solid var(--dark-blue);
}

.btn:hover {
  background-color: color-mix(in srgb, var(--turqoise), white 60%);
  color: var(--dark-blue);
}

.btn:disabled {
  background-color: rgba(64, 105, 178, 0.65);
}
