.btn {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  color: white;
  width: 100%;

  @media (min-width: 992px) {
    width: fit-content;
  }
}

.btn:hover {
  background-color: color-mix(in srgb, var(--turqoise), white 60%);
  color: var(--dark-blue);
  outline: 1px solid var(--dark-blue);
}
