.footerInner {
  padding-block: 1.5rem;
}

.topRow,
.bottomRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottomRow {
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.navCol {
  display: flex;
  align-items: center;
}

.navLinkFirst {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.navLink {
  padding-inline: 0.5rem;
}

.divider {
  width: 100%;
  margin-top: 0.5rem;
}

.copyCol,
.socialCol {
  width: 100%;

  @media (min-width: 576px) {
    width: auto;
    flex: 1 0 0%;
  }
}

.copyText {
  margin-bottom: 0;
}

.legalLink {
  font-size: 0.875rem;
  opacity: 0.8;
  margin-right: 0.5rem;

  &:hover {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .copyCol {
    text-align: left;
  }

  .socialCol {
    text-align: right;
  }
}

.socialIcon {
  display: inline-flex;
  margin-inline: 0.5rem;

  :global(svg) {
    width: 20px !important;
    height: 20px;
  }
}
